/* Start section description. */
@media screen and (min-width: 450px){
    .toctile {
        display: flex; display: -webkit-flex;
        flex-flow: row wrap; -webkit-flex-flow: row wrap;
        justify-content: space-between; -webkit-justify-content: space-between;
        align-items: flex-start; -webkit-align-items: flex-start;
        align-content: flex-start; -webkit-align-content: flex-start;
        list-style-type: none;
        margin-bottom: 10px;
    }
    /* Dan Andreasson on Stack Overflow. */
    .toctile:after {
        content: "";
        flex: 1 0 33.3%; -webkit-flex: 1 0 33.3%;
        margin-left: 45px;
        align-self: stretch; -webkit-align-self: stretch;
    }
}
@media screen and (max-width: 450px) {
    .toctile {
        display: flex; display: -webkit-flex;
        flex-flow: column wrap; -webkit-flex-flow: column wrap;
        justify-content: space-between; -webkit-justify-content: space-between;
        align-items: flex-start; -webkit-align-items: flex-start;
        align-content: flex-start; -webkit-align-content: flex-start;
        list-style-type: none;
        margin-bottom: 10px;
    }
    .toctile:after {
        content: "";
        flex: none; -webkit-flex: none;
    }
}
.tile {
    flex: 2 0 33.3%; -webkit-flex: 2 0 33.3%;
    margin: 10px 15px;
    border-radius: .3em;
    user-select: none;
}
.tile div.figure,
.tile figure {
    margin-bottom: 0px;
    display: block;
}
.tile img {
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
}
.tile dl {margin-bottom: 10px}
.tile dl dt > a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.tile dl dt, .tile.no-descr p{
    font-weight: bold;
    font-style: normal;
    font-size: 1.3em;
}
.tile dl dt, .tile.no-descr p{padding: 18px 15px 0px!important}
.tile dl dd{
    padding: 0px 15px;
    font-style: normal;
    margin: 0px;
    color: #808080;
    font-size: 90%;
}
.tile {
    box-shadow: rgba(0,0,0,0.05) 0px 1px 4px 0px,
                    rgba(211,216,223,0.33) 0px 15px 20px -1px;
}

/*#getting-started .tile {
    box-shadow: none;
}*/
/* End section description. */

.clear-both {
    clear: both;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}

.rst-content h1, .rst-content h2, .rst-content h3, .rst-content h4, .rst-content h5, .rst-content h6 {
    clear: both;
}

.table-wrap td, .table-wrap th {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
}

.table-wrap {
    overflow: visible !important;
}

/* copied from blender doc config */

/* Ugly 'red' literals. */
.rst-content tt.literal,
.rst-content tt.literal,
.rst-content code.literal {
	color: #404040;
	border-radius: .4em;
}

/* Fix definitions with different ids. */
.rst-content dl.simple {
	margin-bottom: 0px;
}

/* Fix nested block spacing. */
.rst-content .document dl dt,
.rst-content dd dl,
.rst-content dl.field-list dd>p {
	margin: 0;
}

/* Dont indent field lists */
.rst-content dl.field-list dt {
	padding-left: 0 !important;
}

/* Fix padding for normal definitions nested in field lists */
.rst-content dl.field-list dd>dl.simple {
	padding-top: 12px;
}

/* BMJ: increase rubric font size */
.rubric {
	font-size: 120% !important;
}

/* BMJ: fix sidebar */
/* sidebar padding */
aside dl {
    padding: 0px !important;
}

/* BMJ: sidebar fontsize for variables */
.sidebar dd {
    font-size: 120% !important;
}

/* BMJ: sidebar categories alignment with variables */
.sidebar dt {
    margin-top: 3px !important;
}

/* BMJ: fix field lists alignment */
dl.field-list>dt {
    margin-top: 3px !important;
}

/* BMJ: decrease footnote reference font size */
.footnote-reference {
    font-size: 80% !important;
}

/* BMJ: download filename underline */
code.xref>span.pre {
    text-decoration: underline !important;
}

/* Correctly display keyboard shortcuts inside definition lists (theme.css explicitly excludes this case for some reason) */
dt > kbd {
	font-weight: normal;
	font-size: 80%;
	background-color: #fff;
	border: 1px solid #a6a6a6;
	border-radius: 4px;
	box-shadow: 0 2px grey;
	padding: 2.4px 6px;
	margin: auto 0;
}
